.item {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 0.1em;
  margin-top: 0.05em;
  margin-bottom: 0.05em;
  cursor: pointer;
  background-color: hsla(0, 0%, 95%, 1);
  border: 1px solid #094ab2;
  overflow: hidden;
  position: relative;
  font-family: 'segoe ui';
  font-size: 12pt;
}

.folder {
  background-color: #094ab2;
  color: white;
}

.file {
  color: black;
}

img {
  height: auto;
  width: auto;
  max-width: 200px;
  /* max-height: 150px; */
  /* height: 150px; */
  overflow: hidden;
  /* visibility: hidden; */
}

.nameplate {
  /* background-color: #094AB2; */
  /* width: 200px; */
  height: 16pt;
  padding: 1px;
  position: absolute;
  bottom: 2px;
  left: 4px;
  white-space: nowrap;
  padding-right: 4px;
  overflow: hidden;
  right: 4px;
}

.img-container {
  max-height: 126px;
  overflow: hidden;
}
